{% extends 'base.html' %}

{% block content %}

<!-- <div class="left-panel-wrapper">
    <div class="left-panel">
      some content some content some content some content some content some content some content some content some content
    </div>
</div> -->

<div>

    <div >
        <form method="post" enctype="multipart/form-data">
           {% csrf_token %}
           {{ form.as_p }}
           <button class="btn btn-primary" style="margin: 5% 2% 5% 5%;" type="submit">Сохранить</button>
        </form>
   </div>

</div>

{% endblock content %}
