{% extends 'base_paginator.html' %}
{% block title %} Архив баллонов {% endblock %}

{% block data %}

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <h5>Архив баллонов</h5>
        </div>


        <div class="col-md-3 mb-2 mb-md-0">
            <form method="get" action="{% url 'filling_station:balloons_list' %}" class="d-flex">
                <input type="text" name="nfc_tag" class="form-control me-2" placeholder="Введите номер метки" value="{{ nfc_tag_filter }}">
                <button type="submit" class="btn btn-primary">Фильтровать</button>
            </form>
        </div>
</header>
</div>

<table class="table table-striped table-hover vertical-align: middle">
    <tr align="center" width=100%>
        <th>RFID метка</th>
        <th>Серийный номер</th>
        <th>Дата производства</th>
        <th>Объём</th>
        <th>Вес нетто</th>
        <th>Вес брутто</th>
        <th>Статус</th>
        <th>Дата изменения</th>
        <th>Время изменения</th>
    </tr>
    {% for balloon in page_obj.object_list %}
    <tr align="center">
        <td>
            <a href="{% url 'filling_station:balloon_passport' balloon.nfc_tag %}"> {{ balloon.nfc_tag }} </a>
        </td>
        <td>{{ balloon.serial_number|default_if_none:"-" }}</td>
        <td>{{ balloon.creation_date|default_if_none:"-" }}</td>
        <td>{{ balloon.size|default_if_none:"-" }}</td>
        <td>{{ balloon.netto|default_if_none:"-" }}</td>
        <td>{{ balloon.brutto|default_if_none:"-" }}</td>
        <td>{{ balloon.status|default_if_none:"-" }}</td>
        <td>{{ balloon.change_date|default_if_none:"-" }}</td>
        <td>{{ balloon.change_time|default_if_none:"-" }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock data %}
