{% extends 'base.html' %}

{% block content %}

<!-- <div class="left-panel-wrapper">
    <div class="left-panel">
      some content some content some content some content some content some content some content some content some content
    </div>
</div> -->

<div>
    
    <div>
        <table class="table table-striped table-hover">
            <tr align="center" width = 100%>
                <th>RFID метка</th>
                <th>Серийный номер</th>
                <th>Вес НЕТТО</th>
                <th>Вес БРУТТО</th>
                <th>Статус</th>
                <th>Дата изменения</th>
                <th>Время изменения</th>
            </tr>

            <tr align="center">
                <td>{{ balloon.nfc_tag }}</td>
                <td>{{ balloon.serial_number }}</td>
                <td>{{ balloon.netto }}</td>
                <td>{{ balloon.brutto }}</td>
                <td>{{ balloon.status }}</td>
                <td>{{ balloon.change_date }}</td>
                <td>{{ balloon.change_time }}</td>
            </tr>

        </table>
    </div>

    <div >
        <form method="post" enctype="multipart/form-data">
           {% csrf_token %}
           {{ form }}
           <button class="btn btn-primary" style="margin: 5% 2% 5% 5%;" type="submit">Выгрузить отчёт за дату</button>
        </form>
   </div>

</div>

{% endblock content %}
