{% extends 'base.html' %}
{% block title %} Статистика по ГНС {% endblock %}

{% block content %}

<div>
    <div class="container-fluid">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <h5>Статистика по ГНС</h5>
            </div>

            <div class="col-md-3 mb-2 mb-md-0">
                <form method="post" enctype="multipart/form-data" class="row align-items-center">
                    {% csrf_token %}
                    <div class="col-auto">
                        {{ form }}
                    </div>
                    <div class="col-auto">
                        <button class="btn" style="margin: 2% 2% 2% 2%; background-color: #3CBBD9; color: white;"
                                type="submit">Показать</button>
                    </div>
                </form>
            </div>
        </header>
    </div>
    <div>
        <p>Количество баллонов RFID-считыватель №1 (Регистрация пустого баллона на складе (из кассеты)) - {{ current_balloons_quantity_by_reader_1 }}</p>
        <p>Количество баллонов RFID-считыватель №2 (Погрузка полного баллона в кассету)  - {{ current_balloons_quantity_by_reader_2 }}</p>
        <p>Количество баллонов RFID-считыватель №3 (Погрузка полного баллона на трал 1)  - {{ current_balloons_quantity_by_reader_3 }}</p>
        <p>Количество баллонов RFID-считыватель №4 (Погрузка полного баллона на трал 2)  - {{ current_balloons_quantity_by_reader_4 }}</p>
        <p>Количество баллонов RFID-считыватель №5 (Регистрация полного баллона на складе)  - {{ current_balloons_quantity_by_reader_5 }}</p>
        <p>Количество баллонов RFID-считыватель №6 (Регистрация пустого баллона на складе (рампа))  - {{ current_balloons_quantity_by_reader_6 }}</p>
        <p>Количество баллонов RFID-считыватель №7 (Регистрация пустого баллона на складе (цех))  - {{ current_balloons_quantity_by_reader_7 }}</p>
        <p>Количество баллонов RFID-считыватель №8 (Наполнение баллона сжиженным газом)  - {{ current_balloons_quantity_by_reader_8 }}</p>
    </div>

</div>

{% endblock content %}