{% extends 'base_paginator.html' %}
{% block title %} Список прицепов {% endblock %}

{% block data %}

<h5>Список прицепов</h5>

<table class="table table-striped table-hover">
    <tr align="center" width=100%>
        <th>№ п/п</th>
        <th>Марка авто</th>
        <th>Гос.номер</th>
        <th>Тип</th>
        <th>Макс. вместимость баллонов</th>
        <th>Макс. масса перевозимых баллонов</th>
        <th>Макс. масса перевозимого газа</th>
        <th>Вес пустого т/с</th>
        <th>Вес полного т/с</th>
        <th>Находится на станции</th>
    </tr>
    {% for trailer in page_obj.object_list %}
    <tr align="center">
        <td>
            <a href="{% url 'filling_station:trailers_details' trailer.id %}"> {{ trailer.id }} </a>
        </td>
        <td>{{ trailer.trailer_brand }}</td>
        <td>{{ trailer.registration_number }}</td>
        <td>{{ trailer.type }}</td>
        <td>{{ trailer.max_capacity_cylinders_by_type }}</td>
        <td>{{ trailer.max_weight_of_transported_cylinders }}</td>
        <td>{{ trailer.max_mass_of_transported_gas }}</td>
        <td>{{ trailer.empty_weight }}</td>
        <td>{{ trailer.full_weight }}</td>
        <td>{{ trailer.is_on_station }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock data %}
